/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css reset*/
  
/*global*/
:root {
	--system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-family: var(--system-ui);
	box-sizing: border-box;
	--background-color: hsl(351, 100%, 97%);
	--primary-color: hsla(351, 95%, 71%);
	--secondary-color: hsla(351, 60%, 20%);
	--ternary-color: hsla(351, 80%, 8%);
}
button{
	font-family: var(--system-ui);
	cursor: pointer;
	transition: ease-in-out 1s;
	-webkit-transition : -webkit-filter 60ms linear
}
button:hover{
	filter: brightness(85%);
}
button:active{
	filter: brightness(75%);
}
body{
	position: relative;
	min-height: 94.637vh;
	padding-bottom: 40px;
	background-color: var(--background-color);
}
/*global*/
/*header*/
header{
	display: flex;
    justify-content: center;
	padding: 20px min(300px, 8vw);
	font-size: clamp(2rem, 0.5000rem + 6.6667vw, 4rem);
	font-weight: 800;
	align-items: center;
	box-shadow: 0px 0px 20px 4px;
    user-select: none;
	background-color: var(--secondary-color);
	color: var(--primary-color)
}
/*header*/

/*main*/
main{
	padding: 50px 0 ;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game-board{
	min-width: 410px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 30px 0;
	border: solid 4px var(--secondary-color);
}
.board-position{
	border: solid 4px var(--primary-color);
	height: 140px;
	background-color: var(--background-color);
	color: hsla(0, 0%, 0%, 0.70);
}
main>p{
	font-size: clamp(2rem, 1.6250rem + 1.6667vw, 2.5rem);
	font-weight: 600;
}
main>button{
	background: none;
	border-radius: 10px;
	font-weight: bold;
	font-size: 2rem;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	width: 250px;
	transition: ease-in-out 100ms;
}
main>button:hover{
	filter: saturate(1.5);
	transform: scale(1.04);
}
.game-board button{
	font-size: 5rem;
}
/*main*/

/*footer*/
footer{
	padding: 15px 0;
	display: flex;
	justify-content: space-between;
	font-size: clamp(1.2rem, 0.9750rem + 1.0000vw, 1.5rem);
	justify-content:center;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 500;
	color: var(--ternary-color);
	line-height: 25px;
}
footer a{
	margin-left: 4px;
    color: inherit;
}
footer p{
	text-align: center;
}
.fa-github{
	scale: 1.2;
    transition: transform 0.3s ease-in-out;
}
.fa-github:hover{
    transform: rotate(360deg) scale(1.2);
}
.copy{
	font-weight: bold;
}
/*footer*/

/*mobile*/
@media (max-width:460px) {
	main{
		justify-content: space-between;
	}
	.game-board{
		min-width: 300px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin: 60px 0;
	
	}
	.board-position{
		height: 100px;
	}
}
/*mobile*/